main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.conteiner-descricao{
    margin-left: 11%;
}

.container-sinopse {
    display: flex;
    align-items: flex-start;
    max-width: 100vh;
    top: 45%;
    font-family: 'Poppins', sans-serif;
    animation: showup 5s forwards;
    backdrop-filter: blur(20px);
}

.container-notas {
    display: flex;
    align-items: flex-start;
    padding: 0 5%;
    animation: showup 5s forwards;
}

.container-btn {
    padding: 0 3%;
    display: flex;
    align-items: flex-start;
}

