main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.conteiner-descricao{
    margin-left: 11%;
}

.container-sinopse {
    display: flex;
    align-items: flex-start;
    max-width: 100vh;
    top: 45%;
    font-family: 'Poppins', sans-serif;
    animation: showup 5s forwards;
    backdrop-filter: blur(20px);
}

.container-notas {
    display: flex;
    align-items: flex-start;
    padding: 0 5%;
    animation: showup 5s forwards;
}

.container-btn {
    padding: 0 3%;
    display: flex;
    align-items: flex-start;
}

.container-cartaz {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-info-cinema {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
    font-size: 20px;
    max-width: 100vh;
    margin-top: 130px;
    margin-left: 200px;
    font-family: 'Poppins', sans-serif;
    animation: showup 5s forwards;
}

.container-info-cinema .significado {
    font-size: 15px;
}

.container-info-cinema h1 {
    margin-bottom: 2px;
    font-size: 100px;
}

.em-breve-container {
    display: flex;
    color: #fff;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    margin-top: 80px;
}