body {
    margin: 0;
    background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 25%, 
            rgba(152,68,183,1) 51%, 
            rgba(255,53,127,1) 100%
    ); 
}

h1 {
    color: white;
    font-size: 5rem;
    font-family: 'PT Sans', sans-serif;
    animation: showup 2s 1;
    animation-fill-mode: forwards;
}

aside {
    width: 0;
    height: 0;
}

.filme-frame {
    position: absolute;
    z-index: -1;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    -webkit-filter: brightness(40%);
    filter: brightness(50%);
    filter: blur(10%);
}

.header-img {
    width: 5vh;
    height: 5vh;
    background-color: white;
    border-radius: 50%;
}

.nome-cinema {
    margin-top: 0px;
    color: white;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}

.detalhes-filme {
    padding: 14% 13%;
    animation: showup 4s 1;
    animation-fill-mode: forwards;
}

.sinopse-texto {
    color: white;
    font-size: 2vh;
    word-break: keep-all;
    text-align: justify;
    animation: showup 5s forwards;
    padding: 2% 5% 2%;
}

.diretor {
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    color: white;
    padding: 0 5%;
    animation: showup 4s forwards;
}

.filme-poster {
    position: absolute;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    animation: showup 4s forwards;
}

.card {
    margin-left: 15%;
    z-index: -1;
    width: 250px;
    height: 400px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    animation: showup 4s forwards;
    margin-left: 200px;
}

.nota-rotten {
    margin-right: 50px;
    width: 120px;
}

.nota-imdb {
    margin-top: 6px;
    margin-bottom: 50px;
}

.btn-trailer {
    background-color: #B500FF;
    color: #fff;
    padding: 13px 20px;
    border: 2px solid #B500FF;
    font-size: 17px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.btn-sessoes {
    background-color: rgba(255,53,127,1);
    color: #fff;
    padding: 13px 20px;
    border: 2px solid rgba(255,53,127,1);
    font-size: 17px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 40%;
    min-width: 100px;
}

.btn-sessoes:hover{
    transition: 0.3s;
    background-color: #fff;
    color: rgba(255,53,127,1);
    animation-name: button_animation;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
}

.btn-trailer:hover {
    transition: 0.3s;
    background-color: #fff;
    color: #B500FF;
    animation-name: button_animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.btn-trailer:active {
    transform: scale(0.97);
}

.subtitulo {
    color: white;
    font-size: 3.5rem;
    font-family: 'PT Sans', sans-serif;
    animation: showup 2s 1;
    animation-fill-mode: forwards;
    margin-top: 0;
}

#trailer {
    min-width: 100%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
            -45deg, 
            rgba(59,173,227,1) 0%, 
            rgba(87,111,230,1) 25%, 
            rgba(152,68,183,1) 51%, 
            rgba(255,53,127,1) 100%
    );  
    animation: AnimateBG 20s ease infinite;
}

#sessoes {
    min-height: 80vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cinema-img {
    position: absolute;
    z-index: -1;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    -webkit-filter: brightness(17%);
    filter: brightness(17%);
}

.tabela-sessoes {
   font-family: 'Poppins', sans-serif;
   font-size: 2rem;
   border-radius: 10px;
}

.tabela-sessoes th h2 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: white;
}

.tabela-sessoes td {
    font-weight: normal;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
    color: white;
    padding-left: 2%;
    border-radius: 6px;
}

tbody tr {
    background-color: #6F38C5;
}

.tabela-sessoes th {
    width: 300px;
    padding-left: 2%;
    font-family: 'PT Sans', sans-serif;
}

tbody tr:hover {
    background-color: rgba(59,173,227,1);
    color: #102a40;
    font-weight: bold;
    box-shadow: #102a40 -1px 1px, #102a40 -2px 2px, #102a40 -3px 3px, #102a40 -4px 4px, #102a40 -5px 5px, #102a40 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes showup {
    0% {opacity:0;}
    100% {opacity:1;}
}